{% extends 'layout/admin.html.twig' %}

{% block title %}{{ parent() }} Activite{% endblock %}

{% block pageTitle %}{{ parent() }} Activite{% endblock %}

{% block body %}

<div class="row g-0 py-5 px-3">
{% for activite in activites %}
  <div class="col-sm-4 mb-3">
    <div class="card h-100">
      <img class="card-img-top" src="{{ asset(activite.image) }}" alt="Card image cap">
      <div class="card-body text-white bg-dark">
        <div class="card-title h5">{{ activite.titre }}</div>
        <div class="card-text">{{ activite.image }}</div>
        <div class="card-text p">{{ activite.description }}</div>
        <div class="card-text">{{ activite.slug }}</div>
        <div class="d-flex">
          <div class="d-flex flex-column">
            <div class="w-100 card-text small text-center">Date de début</div>
            <div class="w-100 card-text small text-center">{{ activite.dateFin ? activite.dateFin|format_datetime('long', 'short', locale='fr') : '' }}</div>
          </div>

          <div class="w-50 card-text small text-center">{{ activite.dateDebut ? activite.dateDebut|format_datetime('long', 'short', locale='fr') : '' }}</div>
          <div class="w-50 card-text small text-center">{{ activite.dateFin ? activite.dateFin|format_datetime('long', 'short', locale='fr') : '' }}</div>
        </div>

        <div class="card-text small">{{ activite.dateCreation ? activite.dateCreation|format_datetime('long', 'short', locale='fr') : '' }}</div>
        <div class="card-text small">{{ activite.dateModification ? activite.dateModification|format_datetime('long', 'short', locale='fr') : '' }}</div>

      </div>
      <div class="card-footer d-flex p-3">
        <a class="w-50 btn btn-success" href="{{ path('admin_activite_show', {'id': activite.id}) }}">Voir</a>
        <a class="w-50 btn btn-warning" href="{{ path('admin_activite_edit', {'id': activite.id}) }}">Editer</a>
      </div>
    </div>
  </div>
{% else %}
<h3>Pas encore d'activités enregistrées...</h3>
{% endfor %}
</div>

<a href="{{ path('admin_activite_new') }}">Create new</a>
{% endblock %}