{% extends 'layout/admin.html.twig' %}

{% block title %}Activite{% endblock %}

{% block pageTitle %}
<div class="d-block mb-3 text-center text-white">
  <i class="fa-regular fa-calendar-days fa-6x"></i>
</div>
<h3 class="text-center text-white">
  Liste des activités
</h3>
{% endblock %}

{% block pageActions %}
<a class="btn btn-teal fw-bold shadow rounded-pill" href="{{ path('admin_activite_new') }}">
  <div class="mx-5 my-4 d-flex flex-row align-items-stretch">
    <i class="fas fa-calendar-check fa-2x"></i>
    <div class="ms-3 d-flex align-items-center">
      <span>Créer une nouvelle activité</span>
    </div>
  </div>
</a>
{% endblock %}


{% block body %}
<div class="container-fluid p-0">
  <div class="row g-0">
    {% for activite in activites %}
    <div class="col-md-4 pe-3 pb-3">
      <div class="card shadow border-0 ms-3 mt-3">
        <div class="card-header bg-cyan text-dark">
          <div class="h5 m-0 text-end small fw-bold">
            {{ activite.titre }}
          </div>
        </div>
        <div class="card-body bg-light text-dark p-0">
          <div class="container-fluid">
            <div class="row g-0 justify-content-around bg-white">
              <div class="col-12 p-3 bg-secondary text-white">
                <p>
                  {{ activite.description }}
                </p>
              </div>
              <div class="col-6 p-3">
                <div class="p small fw-bold">
                  Date de début
                </div>
                <div class="p small">
                  {{ activite.dateDebut ? activite.dateDebut|format_datetime('long', 'short', locale='fr') : '' }}
                </div>
              </div>
              <div class="col-6 p-3">
                <div class="p small fw-bold">
                  Date de fin
                </div>
                <div class="p small">
                  {{ activite.dateFin ? activite.dateFin|format_datetime('long', 'short', locale='fr') : '' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex flex-column justify-content-end py-3 bg-light text-dark">
          <div class="small fw-bold mb-3 text-end">
            Commentaires ({{ activite.commentaires|length }})
          </div>
          <div class="btn-group">
            <a class="btn btn-teal rounded-pill ms-3" href="{{ path('admin_activite_show', {'id': activite.id}) }}">Voir</a>
            <a class="btn btn-teal rounded-pill ms-3" href="{{ path('admin_activite_edit', {'id': activite.id}) }}">Editer</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <h3>Pas encore d'activités enregistrées...</h3>
    {% endfor %}
  </div>
</div>
{% endblock %}