{% extends 'layout/admin.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}
<div class="col-12">
    <div class="card h-100 border-0 shadow">
      <div class="card-header p-0 bg-yellow text-blue-dark">
        <div class="h5 p-3 m-0 text-center">{{ activite.titre }}</div>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <img class="img-fluid" src="{{ asset(activite.image) }}" alt="Card image cap">
            </div>
            <div class="col-8">
              <div class="p lead mb-3">{{ activite.description }}</div>
              <div class="container-fluid p-0">
                <div class="row mb-3 py-3 bg-light text-dark">
                  <div class="col-6">
                    <div class="w-100 small text-center">Date de début</div>
                    <div class="w-100 small text-center">{{ activite.dateDebut ? activite.dateDebut|format_datetime('long', 'short', locale='fr') : '' }}</div>
                  </div>
                  <div class="col-6">
                    <div class="w-100 small text-center">Date de fin</div>
                    <div class="w-100 small text-center">{{ activite.dateFin ? activite.dateFin|format_datetime('long', 'short', locale='fr') : '' }}</div>
                  </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="small">Créée le {{ activite.dateCreation ? activite.dateCreation|format_datetime('long', 'short', locale='fr') : '' }}</div>
                  </div>
                  <div class="col-4">
                    <div class="small fw-bold">Commentaires ({{ activite.commentaires|length }})</div>
                  </div>
                  <div class="col-8">
                    <div class="small">Modifiée le {{ activite.dateModification ? activite.dateModification|format_datetime('long', 'short', locale='fr') : '' }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-yellow d-flex justify-content-end p-3">
        <div class="btn-group w-50">
          <a class="btn btn-light rounded-pill ms-3" href="{{ path('admin_activite_show', {'id': activite.id}) }}">Voir</a>
          <a class="btn btn-blue rounded-pill ms-3" href="{{ path('admin_activite_edit', {'id': activite.id}) }}">Editer</a>
        </div>
      </div>
    </div>
  </div>

  <a href="{{ path('admin_activite_index') }}">back to list</a>

  <a href="{{ path('admin_activite_edit', {'id': activite.id}) }}">edit</a>

  {{ include('admin/activite/_delete_form.html.twig') }}
{% endblock %}
