{% extends 'layout/admin.about.html.twig' %}

{% block title %}{{ activite.titre }}{% endblock %}

{% block pageLogo %}<i class="fa-regular fa-calendar-check fa-6x"></i>{% endblock %}

{% block pageTitle %}{{ activite.titre }}{% endblock %}

{% block pageActions %}

<a class="action action-green" href="{{ path('admin_activite_index') }}">
  <i class="fa-regular fa-square-caret-left fa-1x"></i>
  <span class="ms-2 ps-2 border-start border-dark">Retourner à la liste</span>
</a>

<a class="action action-yellow" href="{{ path('admin_activite_edit', {'id': activite.id}) }}">
  <i class="fa-solid fa-pen-to-square fa-1x"></i>
  <span class="ms-2 ps-2 border-start border-dark">Editer l'activité</span>
</a>

{{ include('admin/activite/_delete_form.html.twig') }}

{% endblock %}

{% block body %}
<div class="page">
  <div class="body">
    <div class="title">{{ activite.titre }}</div>
    <div class="description my-5">{{ activite.description }}</div>
    <div class="small fw-bold">Commentaires ({{ activite.commentaires|length }})</div>
    <div class="content">
      <div class="section-centered">
        <div class="small fw-bold">Date de début</div>
        <div class="small">{{ activite.dateDebut ? activite.dateDebut|format_datetime('long', 'short', locale='fr') : '' }}</div>
      </div>
      <div class="section-centered">
        <div class="small fw-bold">Date de fin</div>
        <div class=small">{{ activite.dateFin ? activite.dateFin|format_datetime('long', 'short', locale='fr') : '' }}</div>
      </div>
    </div>
    <div class="content">
      <div class="section-full">
        <div class="small">Créée le {{ activite.dateCreation ? activite.dateCreation|format_datetime('long', 'short', locale='fr') : '' }}</div>
        <div class="small">Modifiée le {{ activite.dateModification ? activite.dateModification|format_datetime('long', 'short', locale='fr') : '' }}</div>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="{{ asset(activite.image) }}" alt="Image pour {{ activite.titre }}">
  </div>
</div>

{% endblock %}
