{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tableau de bord &late;{% endblock %}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
  {{ encore_entry_link_tags('admin') }}
  <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
  {% endblock %}

  {% block javascripts %}
  {{ encore_entry_script_tags('admin') }}
  <script src="{{ asset('build/runtime.js') }}" defer></script>
  <script src="{{ asset('build/admin.js') }}" defer></script>
  {% endblock %}
</head>
<body class="min-vh-100 p-0">

  {{ include('admin/_nav.html.twig') }}

  <main class="container-fluid p-0">
    <div class="min-vh-100 bg-white">
      {# <aside class="col-3 pt-5">
        <div class="h-100 me-5">
          <div class="h-100 shadow-sm bg-white">
            {{ render(path('admin_meta_entities')) }}
          </div>
        </div>
      </aside> #}

      <section class="d-flex flex-column flex-nowrap">
        <!-- #pageHeader -->
        <div id="pageHeader" class="d-flex flex-column flex-nowrap bg-secondary text-black">
          <!-- #pageTitle -->
          <div id="pageTitle" class="col-12">
            <div class="container-fluid p-0">
              <div id="pageHeader" class="row g-0">
                <!-- #pageTitle -->
                <div id="pageTitle" class="col-12 mb-5">

                  <div class="d-block mb-3 text-center text-white">
                  {% block pageLogo %}
                  <i class="fa-regular fa-paper-plane fa-6x"></i>
                  {% endblock %}
                  </div>

                  <h1 class="h3 mb-5 text-center text-white">
                  {% block pageTitle %}
                    Tableau de bord
                  {% endblock %}
                  </h1>

                  <h3 class="h1 mt-5 text-center text-white">
                  {% block pageSubtitle %}
                    Que ferons-nous ensuite ?
                  {% endblock %}
                  </h3>
                </div>
                <!-- #pageActions -->
                <div class="col-12">
                  <div class="d-flex flex-row flex-nowrap justify-content-around mb-5">
                    {% block pageActions %}{% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #pageBody -->
        <div class="row g-0 p-5">
          <div class="col-12">
            {% block body %}{% endblock %}
          </div>
        </div>
      </section>
    </div>
  </main>

</body>
</html>
